*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(bg_image2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.main{
    height: 400px;
    /* width: 30%; */
    background: rgba(1, 186, 253, 0.5);
    box-shadow: 0px 0px 20px  5px rgb(7, 7, 7) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 10px;

}
#pass_box{
    height: 60px;
    padding: 15px;
    /* width: 60%; */
    border-radius: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px  5px rgb(251, 250, 250) ;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}
.row{
    /* border: 2px solid green; */
    padding: 5px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.right> input{
    height: 30px;
    width: 100px;
    /* display: inline-block; */
    
}
 label{
   /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 120px; */
    width: 100%;

    
}


 label > .left{
   width: 80%;
   /* border: 2px solid red; */
}

#btn{
    height: 50px;
    width: 60%;
    border: none;
     box-shadow: 0px 0px 40px  5px rgb(251, 250, 250) ;
     border-radius: 10px;
     margin:0px auto ;
     background-color: black;
     color: aliceblue;
     font-size: 20px;
     cursor: pointer;
}

